# -*- mode: gitignore; -*-
*~
*.zip
\#*\#
.\#*
build
/papart/target/
/guiModes/target/
/libraries/
/libs.tgz
/papart-complete.tgz
/PapARt.tgz
/big-files/
/Papart-examples-master/
/Papart-examples/
*.tgz
