# -*- mode: gitignore; -*-
*~
/Homography/build/
/Kinect/build/
/GSVideo/nbproject/private/
/GSVideo/dist/
/GSVideo/build/
/GLGraphics/build/
/GLGraphics/dist/
/Graphics2D/nbproject/private/
/OBJModel/nbproject/private/
/GLGraphics/nbproject/private/
/ProCam/dist/
/nbproject/private/
/diewald_PS3/nbproject/private/
/diewald_PS3/build/
/diewald_PS3/dist/
*.zip
\#*\#
.\#*
build
/TUIO/nbproject/private/
/toxiclibs/nbproject/private/
/guiModes/nbproject/private/
/guiModes/dist/
/TUIOPapart/target/
/papart/target/
/guiModes/target/
/libraries/
